{{set . "title" "Home"}}
{{template "header.html" .}}

<div id="header">
  <a href="https://requests.cryobank.cc" class="framelink active">requests</a> |
  <a href="https://couch.cryobank.cc" class="framelink">couch</a> |
  <a href="https://sick.cryobank.cc" class="framelink">sick</a> |
  <a href="https://gazelleui.cryobank.cc" class="framelink">gazelleui</a> |
  <a href="https://manual.cryobank.cc" class="framelink">manual</a> |
  <a href="https://tautulli.cryobank.cc" class="framelink">tautulli</a> |
  <a href="http://cryobank.cc:3308">filebrowser</a> |
  <a href="https://portainer.cryobank.cc/" class="framelink">portainer</a> |
  <a href="https://plex.tv/web" class="framelink">plex</a>

</div>
<iframe class="frame" style="" src="https://requests.cryobank.cc"></iframe>


<style>
a, a:hover, a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.header {
  height: 20px;
}

#menu {
  background-color: #ffcd72;
  font-size:2em;
  position: absolute;
  top:80vh;
  left:5px;
  z-index:2
}

.frame {
  width: 100%;
  height: calc(100vh - 20px);
}

.active {
  background-color: black;
  color: white;
}
</style>

<script>
  $('.framelink').on('click', function(e) {
    e.preventDefault();
    $('.frame').attr('src', $(this).attr('href'));
    $('.framelink').removeClass('active');
    $(this).addClass('active');
  });
</script>


{{template "footer.html" .}}
